@import url("https://fonts.googleapis.com/css2?family=Alata&family=Baloo+Tamma+2:wght@500&family=Roboto+Mono:wght@300&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cards{
  text-align: center;
  padding-left: 20px;
  border: 1px solid;
  width: 410px;
  font-size: 15px;
  font-family: Roboto, Arial,  sans-serif;
  margin-bottom: 15px;
  background-color: white;
  color:black;
  border-radius: 10px;
}

.cards:hover{
  cursor: pointer;
  box-shadow: 0 5px 10px 0 #d3cfc9;
}

.link{
  color:rgb(39, 39, 162);
}

.domain{
  /* color:red; */
}

.card{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap ; 
  text-align: center;
  margin-top: 15px;
  /* padding: 1rem; */
  /* color: white; */
}

.image{
  width: 210px;
  height: 150px;
}

.writer{
  text-align: center;
  font-size: 30px;
  margin-top: 5px;
}


